#showcase
  - @item.previews.each do |p|
    %img{src: p.image.url(:thumb)}/
  - if @item.user == current_user
    %a{href: '#'}
      %img#upload_preview{src: asset_path('upload_preview.png')}
    = form_for @item.previews.new, html: {style: 'display: none; '} do |f|
      = f.file_field :image
      = f.hidden_field :item_id
      = f.submit ''

#info
  .info-section
    %p.info-title Category
    %p.info-content= @item.category
  .info-section
    %p.info-title Gender & Size
    %p.info-content= @item.gender.capitalize + ' - ' + @item.size
  .info-section
    %p.info-title Price
    %p.info-content= '$' + @item.price.to_s + ' per day'
  .info-section
    %p.info-title Owner
    %p.info-content Jiahao Li
  .info-section
    %img.info-avatar{src: 'https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/12004921_802414749857912_7299638249162777029_n.jpg?oh=b502fb48853e9a1928eee7f5babc8425&oe=56BFAC70'}
